{% extends 'blogdefranco/base.html' %}

{% block titulo %}
<title> Sobre Mi - Blog De Franco </title>
{% endblock %}

{% block body %}

<div class="container-fluid blogdefranco">
  <div class="container text-center pt-5 pb-1" style="border-bottom: 1px solid black ;">
      <h1 style="font-weight: bold ;">Hola, Mi nombre es Franco y soy estudiante de programación.</h1> <br>
  </div>
  <div class="container text-center pt-4">
      <br>
  </div>
  <div class="container-fluid" style="border-bottom: 1px solid black ;">
  </div>
  <div class="container pt-4" style="font-size: 17px; text-align: justify;" >

      <p class="blogdefranco">Estudiar programación puede ser frustante, pero nada más lindo que ese momento cuando encontras la solución a ese error en el que estuviste horas trabado... (Gracias Youtube y StackOverFlow por existir, en serio) <br>
        Mi vida es bastante normal... Me levanto a la mañana, me preparo un desayuno y me voy a trabajar. A la tarde voy al gimnasio y uso la noche para estudiar. <br>
        Actualmente estoy cursando el Ciclo Básico Común (Ingreso a la facultad) de la carrera Ciencias de la Computación ya que mi sueño es crear un buen proyecto y una compañia dedicada a la tecnología. <br>
        Me esperan unos largos 5 años hasta terminar la carrera pero se que aunque cueste la voy a terminar! Nos vemos en 2027/2028 actualizando este blog con esa esperada noticia... <br>
        Con respecto al curso de Django/Python no tengo más palabras que agradecimiento. Tuve mucha suerte que me tocó un profesor que explicaba mil veces hasta que toda la clase entendiera y siempre venía a las clases con buena predisposición y ganas de enseñarnos a todos/todas. <br>
        Estos tres meses aprendí muchísimo y me dieron una muy buena base para poder seguir programando en otros lenguajes y seguir aprendiendo. Mi objetivo ahora es aprender un poco más de FrontEnd y cerrar algunas cosas de Django. <br>
        También quiero dedicarme 100% al estudio de la carrera este cuatrimestre que viene para terminar el ingreso y ya si ingresar a la carrera. <br>
        Mando un saludo a la camada 27615 del curso y al profesor Juan Carlos Paredes Alva por todo lo que nos enseñó.
      </p>
      <h3 style="padding-top: 0px;">!Muchísimas Gracias!</h3>
  </div>
  <div class="container d-flex justify-content-end">
    <h5 style="padding-top: 10px; padding-bottom: 5px; font-weight: bold"><i>Franco Galfrascoli - 30/05/2022</i></h5>
</div>
</div> 

{% endblock %}